<div class="container">
  <ul class="nav nav-tabs">
    <li role="presentation" routerLinkActive="active">
      <a routerLink="/home">Home</a>
    </li>
    <li role="presentation" routerLinkActive="active">
      <a routerLink="/fileToAnything">File</a>
    </li>
    <li role="presentation" routerLinkActive="active">
      <a routerLink="/dataUrlToAnything">Data Url</a>
    </li>
    <li role="presentation" routerLinkActive="active">
      <a routerLink="/canvasToAnything">Canvas</a>
    </li>
    <li role="presentation" routerLinkActive="active">
      <a routerLink="/imageToAnything">Image</a>
    </li>
  </ul>

  <div class="router-view">
    <router-outlet></router-outlet>
  </div>
</div>