<div>
  <div class="dataUrlToFile">
    <form action="">

      <div class="card dataUrlToFile">
        <h2>Data Url To File</h2>
        <div>
          <input type="text" value="" id="base64_1">
        </div>
        <button id="btnBase64_1">Transfrom To File</button>
        <div>
          <input type="text" value="" id="base64_2">
        </div>
        <button id="btnBase64_2">Transfrom To File</button>
        <div class="wrapper">

        </div>

        <div class="code">
          <div></div>
        </div>

        <h3>click</h3>
        <pre><code class="javascript">
    {{
    "$('button').on('click', (event) => {
      event.preventDefault()
  
      dataUrlToFile(base64, (file) => {
        dataUrlToImage(base64, image => {
          $('.dataUrlToFile .wrapper').html(image)
        })

        $('.dataUrlToFile .code div').html(
          `${file}
          ${JSON.stringify({
            size: file.size,
            type: file.type
          }, null, 2)}`
        )
      })
    })"
    }}
        </code></pre>

        <h3>source</h3>
        <pre><code class="javascript">
    {{
    "//  Step: dataUrl --> image --> canvas --> file
    
    function dataUrlToFile(dataUrl, cb) {
      dataUrlToImage(dataUrl, function (image) {
        imageToFile(image, function (file) {
          cb(file)
        })
      })
    }

    function dataUrlToImage(dataUrl, cb) {
      var image = new Image()
    
      image.onload = function () {
        cb(image)
      }
    
      image.src = dataUrl
    }

    function imageToFile(image, cb) {
      var mime = image.src.match(/([^.])+$/)[0] || 'image/jpeg'
    
      imageToCanvas(image, function (canvas) {
        canvas.toBlob(function (blob) {
          cb(blob)
        }, mime, 1)
      })
    }
    
    function imageToCanvas(image, cb) {
      var canvas = document.createElement('canvas')
      var context = canvas.getContext('2d')
    
      var canvasWidth = 128
      var canvasHeight = 128 * image.height / image.width
    
      canvas.setAttribute('width', canvasWidth)
      canvas.setAttribute('height', canvasHeight)
    
      context.width = image.width
      context.height = image.height
      context.drawImage(image, 0, 0, canvasWidth, canvasHeight)
    
      cb(canvas)
    }"
    }}
        </code></pre>
      </div>
    </form>
  </div>
</div>